.App {
  font-family: Fira Code,
  Arial,
  Helvetica,
  sans-serif;
  font-weight: 300;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.48);
}

.App-input input {
    border: none;
    padding: 10px 40px;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
    font-size: 24px;
}

.App-input input:focus {
    outline: none;
}

.App-input button{
    margin-left: 20px;
    height: 20px;
    width: 40px;
    background: url('./components/images/down-arrow.svg') no-repeat;
    border: none;
}

.App-link {
  color: #61dafb;
}

.App-body {
  text-align: center;
  border: 1px solid #0000005b;
  border-radius: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
